<div class="panel-body">
  <%= form_with(model: event, local: true) do |form| %>
    <table class="table-striped table-bordered table-list">

      <% if event.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:
          </h2>
          <ul>
            <% event.errors.full_messages.each do |message| %>
              <li>
                <%= message %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <tbody>
        <div class="field">
          <tr>
            <td>
              <%= form.label :title %>
            </td>
            <td>
              <%= form.text_field :title, id: :event_title %>
            </td>
          </tr>
        </div>

        <div class="field">
          <tr>
            <td>
              <%= form.label :start_date %>
            </td>
            <td>
              <%= form.datetime_select :start_date, id: :event_start_date %>
            </td>
          </tr>
        </div>

        <div class="field">
          <tr>
            <td>
              <%= form.label :review_date %>
            </td>
            <td>
              <%= form.datetime_select :review_date, id: :event_review_date %>
            </td>
          </tr>
        </div>

        <div class="field">
          <tr>
            <td>
              <%= form.label :end_date %>
            </td>
            <td>
              <%= form.datetime_select :end_date, id: :event_end_date %>
            </td>
          </tr>
        </div>

        <div class="field">
          <tr>
            <td>
              <%= form.label :tags %>
            </td>
            <td>
              <%= form.text_field :tags, id: :event_tags %>
            </td>
          </tr>
        </div>

        <div class="field">
          <tr>
            <td>
              <%= form.label :completed %>
            </td>
            <td>
              <%= form.check_box :completed %>
            </td>
          <tr>
        </div>


      </tbody>
    </table>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
</div>